<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="logo">
            <img decoding="async" width="846" height="205" src="../resources/logo/Georesolve Logo.webp" alt="Logo GeoResolve">
            <span class="logo-tagline">Data Driven, Research Based</span>
        </a>
        <ul class="nav-links">
            <li><a href="index.html" class="nav-link">Accueil</a></li>
            <li class="has-dropdown">
                <a href="methods.html" class="nav-link">Méthodes <span class="dropdown-arrow">&#9662;</span></a>
                <ul class="dropdown-menu">
                    <li><a href="methods.html#geophysics">Géophysique</a></li>
                    <li><a href="methods.html#mining">Mines &amp; Exploration</a></li>
                    <li><a href="methods.html#geotechnical">Géotechnique</a></li>
                    <li><a href="methods.html#drilling">Forage</a></li>
                    <li><a href="methods.html#geospatial">Géospatial &amp; Levés</a></li>
                    <li class="mobile-only"><a href="methods.html" style="font-weight: 600; color: var(--accent-color);">Voir toutes les méthodes &rarr;</a></li>
                </ul>
            </li>
            <li><a href="applications.html" class="nav-link">Applications</a></li>
            <li><a href="../projects.html" class="nav-link">Projets</a></li>
            <li class="has-dropdown">
                <a href="../g-resolog.html" class="nav-link">Outils gratuits <span class="dropdown-arrow">&#9662;</span></a>
                <ul class="dropdown-menu">
                    <li><a href="../g-resolog.html">G-Resolog - Journal de carottes</a></li>
                    <li><a href="../g-resconvt.html">G-Resconvt - Convertisseur de coordonnées</a></li>
                    <li><a href="../g-geopylanner.html">G-Geopylanner - Planificateur géophysique</a></li>
                    <li><a href="../g-flightplanner.html">G-FlightPlanner - Planificateur de drone</a></li>
                </ul>
            </li>
            <li><a href="quality-hse.html" class="nav-link">QHSE</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
        <!-- LANG_SWITCH -->
        <div class="mobile-menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>
